@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:"Work Sans", sans-serif ;
}
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

  /* Shared styles */
  .display-flex{
    display: flex;
  }

/* header start */
    header{
        background: rgba(255, 144, 14, 0.1);
    }
/* header end */

  /* navbar start */
.navbar{
    justify-content: space-between;
   
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 50px;
}
.navbar li{
    list-style: none;
}
.navbar li a {
    text-decoration: none;
    margin-right: 20px;
    color: blueviolet;
}
  /* navbar end */

  /* banner start  */
  .banner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
    
  }
  .banner-content{
        
        max-width: 700px;
        margin: 0 auto;
        text-align: center ;
        margin-bottom: 30px;
        
  }

  .btn-primary{
    padding: 0.5rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .banner img{
    width: 100%;

  }



  /* responsive media query */
  @media screen and (max-width: 576px) {
    .navbar, ul{
      flex-direction: column;
    }    
  }